include ../scenario/scenario.pug

mixin favorite-scenarios(data)
    section.favorite-scenarios-wrapper.main__section-wrapper
        .main__section-header
            .section-title
                h4 Избранные сценарии
            .arrows#favorite-scenarios-arrows
                .arrow__left
                .arrow__right
        .horizontal-scroll-wrapper
            .favorite-scenarios.horizontal-scroll__item
                +scenario('Выключить весь свет в доме и во дворе', '', 'device__icon_icon-sun-2')
                +scenario('Я ухожу', '', 'device__icon_icon-scheduled')
                +scenario('Включить свет в коридоре', '', 'device__icon_icon-sun-2')
                +scenario('Набрать горячую ванну', 'Начнётся в 18:00', 'device__icon_icon-temperature-2')
                +scenario('Сделать пол тёплым во всей квартире', '', 'device__icon_icon-temperature-2')

            .favorite-scenarios.horizontal-scroll__item
                +scenario('Выключить весь свет в доме и во дворе', '', 'device__icon_icon-sun-2')
                +scenario('Я ухожу', '', 'device__icon_icon-scheduled')
                +scenario('Включить свет в коридоре', '', 'device__icon_icon-sun-2')
                +scenario('Набрать горячую ванну', 'Начнётся в 18:00', 'device__icon_icon-temperature-2')
                +scenario('Сделать пол тёплым во всей квартире', '', 'device__icon_icon-temperature-2')



