mixin footer(data)
    footer.footer
        .footer-left
            // Надо было через nav делать.
            .footer__item
                a.link(href="#") Помощь
            .footer__item
                a.link(href="#") Обратная связь
            .footer__item
                a.link(href="#") Разработчикам
            .footer__item
                a.link(href="#") Условия использования

        .footer-right
            .footer__item © 2001–2017  ООО «Яндекс»