$device-bg-color: #F7F7F7;
$device-bg-color-active: #FFFFFF;

.device {
  background-color: $device-bg-color;
  border-radius: 25px;
  width: 172px;
  height: 72px;
  min-width: 172px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-right: 15px;
  margin-bottom: 15px;
  padding: 14px;

  &:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
  }

  .device__description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .device__title{
      @include font-main;
      font-size: 14px;
      color:$black;
    }

    .device__details{
      @include font-etc;
      font-size: 12px;
      color:$gray;
    }
  }

  .device__icon_icon-scheduled {
    @include bg($icon-scheduled-png);
  }

  .device__icon_icon-sun {
    @include bg($icon-sun-png);
  }

  .device__icon_icon-sun-2 {
    @include bg($icon-sun-2-png);
  }

  .device__icon_icon-sun-max {
    @include bg($icon-sun-max-png);
  }

  .device__icon_icon-sun-min {
    @include bg($icon-sun-min-png);
  }

  .device__icon_icon-temperature {
    @include bg($icon-temperature-png);
  }

  .device__icon_icon-temperature-2 {
    @include bg($icon-temperature-2-png);
  }

}