include ../main-dashboard/main-dashboard.pug
include ../favorite-scenarios/favorite-scenarios.pug
include ../favorite-devices/favorite-devices.pug

mixin main(data)
    main.main
        .main-row
            +main-dashboard()
            +favorite-scenarios()
        .main-row
            +favorite-devices()